@{
    ViewData["Title"] = "Privacy Policy";
}




<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><h1>@ViewData["Title"]</h1></h1>
        <p class="lead">Use this page to detail your site's privacy policy.</p>
    </div>
</div>