@model ProjectTwo.Models.UpdateEmployeeViewModel


@{
}


<h1>Edit Student</h1>
<form method="post" action="View" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ad Soyad</label>
        <input type="text" class="form-control" asp-for="AdSoyad">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Bolum</label>
        <input type="text" class="form-control" asp-for="Bolum">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ogrenci No</label>
        <input type="number" class="form-control" asp-for="OgrenciNo">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Kayıt Tarihi</label>
        <input type="date" class="form-control" asp-for="KayitTarih">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Doğum Tarihi</label>
        <input type="date" class="form-control" asp-for="DTarih">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="submit" class="btn btn-danger"
    asp-action="Delete"
    asp-controller="Employees">Delete</button>
</form>